{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load ui_template_tag %}
{% block title %}
    جزئیات پرونده ثبت سفارش
{% endblock title %}
{% block page-title %}
    جزئیات
{% endblock page-title %}
{% block breadcrumbs %}
    {% breadcrumbs 'عملیات تجاری' '#' 'مدیریت پرونده‌ها' 'order_registration:main_data_list' 'جزئیات' '#' %}
{% endblock breadcrumbs %}
{% block main %}
    <div class="container-fluid bg-white py-4">
        <div>
            <nav style="--bs-breadcrumb-divider: '-'" aria-label="breadcrumb">
                <ol class="list-inline">
                    {% for s in statuses %}
                        <li class="list-inline-item m-0 {% if s.flag %}proccesed {% else %}not-proccesed{% endif %}">
                            {% if s.flag %}
                                <p class="text-center">
                                    {% if not forloop.first %}<span class="line befor-badg bg-navy"></span>{% endif %}
                                    <span class="detail-badge">
                                        <svg viewBox="64 64 896 896"
                                             focusable="false"
                                             data-icon="check"
                                             width="1em"
                                             height="1em"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z">
                                            </path>
                                        </svg>
                                    </span>
                                    {% if not forloop.last %}<span class="line after-badg bg-navy"></span>{% endif %}
                                </p>
                            {% else %}
                                <p class="text-center">
                                    {% if not forloop.first %}<span class="line befor-badg bg-navy"></span>{% endif %}
                                    <span class="detail-badge {% if s.active %}bg-navy text-white{% endif %}"><span class="pt-2">{{ s.number }}</span></span>
                                    {% if not forloop.last %}<span class="line after-badg bg-navy"></span>{% endif %}
                                </p>
                            {% endif %}
                            <p class="text-center px-2 small">{{ s.name }}</p>
                        </li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
        {% section_title 'اطلاعات اصلی' %}
        <div class="row order-registraiton-detail">
            {% input_box 'شماره پرونده' object.identifier %}
            {% input_box 'شماره پیش فاکتور' object.proforma_invoice %}
            {% input_box 'سطح دسترسی' object.get_permission_display %}
            {% input_box 'شناسه فروشنده خارجی' object.related_object.identifier %}
            {% input_box 'فروشنده خارجی' object.related_object %}
            {% input_box 'تلفن فروشنده خارجی' object.related_object.phone %}
            {% input_box 'کشور ذینفع' object.beneficiary_country %}
            {% input_box 'تاریخ صدور' object.proforma_invoice_issue_date|date:"Y/m/d" %}
            {% input_box 'تاریخ اعتبار' object.proforam_invoice_expire_date|date:"Y/m/d" %}
            {% input_box 'ثبت کننده' object.user %}
            {% input_box 'برچسب پرونده' object.order_registration_case %}
            {% input_box 'شناسه کسب و کار' object.producer_type_data %}
        </div>
        {% section_title 'اطلاعات گمرکی و حمل و نقل' %}
        <div class="row order-registraiton-detail">
            {% input_box 'نوع قرارداد' object.custom_and_shipping.incoterms %}
            {% input_box 'مرز ورودی' object.custom_and_shipping.entrance_edges_str %}
            {% input_box 'روش حمل' object.custom_and_shipping.shipping_type_str %}
            {% input_box 'کشور مبدا' object.custom_and_shipping.origin_country %}
            {% input_box 'محل بارگیری' object.custom_and_shipping.loading_location %}
            {% input_box 'گمرک مقصد' object.custom_and_shipping.destination_custom_str %}
            {% input_box 'ناوگان حمل و نقل' object.custom_and_shipping.get_shipping_nationality_display %}
            {% input_box 'حمل به دفعات' object.custom_and_shipping.shipping_period_str %}
            {% input_box 'حمل یکسره' object.custom_and_shipping.shipping_all_at_once_str %}
        </div>
        <div class="row order-registraiton-detail">
            {% section_title 'اطلاعات مالی و بانکی' %}
            {% input_box 'مبلغ کل پرونده' object.financial.proforma_amount %}
            {% input_box 'نوع عملیات ارزی' object.financial.get_currency_operation_type_display %}
            {% input_box 'نوع ارز' object.financial.currency_type %}
            {% input_box 'تامین ارز' object.financial.curency_supply_str %}
            {% input_box 'سایر هزینه‌ها' object.financial.other_price %}
            {% input_box 'تخفیف' object.financial.off %}
            {% input_box 'هزینه حمل' object.financial.shipping_price %}
            {% input_box 'نوع پرداخت' object.financial.get_payment_type_display %}
            {% input_box 'بانک' object.financial.bank %}
            {% input_box 'شعبه' object.financial.bank_branch %}
        </div>
        <div class="row order-registraiton-detail">
            {% section_title 'اطلاعات ثبت سفارش' %}
            {% input_box 'شماره ثبت سفارش' object.registrations_number %}
            {% input_box 'تاریخ صدور ثبت سفارش' object.created_at|to_jalali %}
            {% input_box 'تاریخ اعتبار ثبت سفارش' object.expire_date|to_jalali %}
            {% input_box ' گروه کالایی پرونده' '' %}
            {% input_box 'نوع واردات' 'کارت بازرگانی' %}
            {% input_box 'حالت ثبت سفارش' object.order_registration_case %}
        </div>
        <div class="d-flex justify-content-center border-top">
            {% comment %} NEW EDITON FOR BUTTONS {% endcomment %}
            {% if object.status == 'd' %}
                <div class="m-2">
                    <button class="btn btn-success btn-forest disabled">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-danger btn-cinnabar"
                       href="{% url 'order_registration:detail' object.pk %}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya disabled">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="ps-1">تغییر سطح دسترسی</span>
                    </button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       href="{% url 'order_registration:update_status_with_operation' object.pk 'c' %}">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                        <span class="ps-1">ابطال پرونده</span>
                    </a>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya disabled" href="#">کپی پرونده</a>
                </div>
                <div class="m-2">
                    <a href="{{ completion_url }}" class="btn  btn-pu">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <span class="ps-1">ادمه ثبت پرونده</span>
                    </a>
                </div>
                <div class="m-2">
                    <button class="btn  btn-warning btn-mango"
                            data-bs-toggle="modal"
                            data-bs-target="#documentModal"
                            type="button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        مشاهده مستندات
                    </button>
                </div>
            {% endif %}
            {% if object.status == 'n' %}
                <div class="m-2">
                    <button class="btn btn-success btn-forest disabled">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-danger btn-cinnabar"
                       href="{% url 'order_registration:detail' object.pk %}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya disabled">تغییر سطح دسترسی</button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       href="{% url 'order_registration:update_status_with_operation' object.pk 'c' %}">ابطال پرونده</a>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya disabled" href="#">کپی پرونده</a>
                </div>
                <div class="m-2">
                    <a href="{% url 'order_registration:update_main_data' object.pk %}"
                       class="btn btn-primary btn-maya">ویرایش پرونده</a>
                </div>
                <div class="m-2">
                    <button type="button"
                            class="btn  btn-pu waiter"
                            data-bs-status="در حال استعلام ضوابط"
                            data-bs-href="{% url 'order_registration:update_status' object.pk %}"
                            data-bs-toggle="modal"
                            data-bs-target="#waitingModal">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <span class="ps-1">استعلام ضوابط</span>
                    </button>
                </div>
                <div class="m-2">
                    <button class="btn  btn-warning btn-mango"
                            data-bs-toggle="modal"
                            data-bs-target="#documentModal"
                            type="button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        مشاهده مستندات
                    </button>
                </div>
            {% endif %}
            {% if object.status == 'id' %}
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       href="{% url 'order_registration:update_status_with_operation' object.pk 'c' %}">ابطال پرونده</a>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya disabled" href="#">کپی پرونده</a>
                </div>
                <div class="m-2">
                    <a href="{% url 'order_registration:update_main_data' object.pk %}"
                       class="btn btn-primary btn-maya">ویرایش پرونده</a>
                </div>
                <div class="m-2">
                    <button type="button"
                            data-bs-href="{% url 'order_registration:update_status' object.pk %}"
                            class="btn  btn-pu"
                            data-bs-status="در خواست مجوزها"
                            data-bs-toggle="modal"
                            data-bs-target="#waitingModal">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <span class="ps-1">درخواست مجوز</span>
                    </button>
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya"
                            data-bs-toggle="modal"
                            data-bs-target="#documentModal"
                            type="button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        مشاهده مستندات
                    </button>
                </div>
            {% endif %}
            {% if object.status == 'rr' %}
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       href="{% url 'order_registration:update_status_with_operation' object.pk 'c' %}">ابطال پرونده</a>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya disabled" href="#">کپی پرونده</a>
                </div>
                <div class="m-2">
                    <a href="{% url 'order_registration:update_main_data' object.pk %}"
                       class="btn btn-primary btn-maya">ویرایش پرونده</a>
                </div>
                <div class="m-2">
                    <button type="button"
                            data-bs-href="{% url 'order_registration:update_status' object.pk %}"
                            class="btn  btn-pu"
                            data-bs-status="درخواست ثبت سفارش"
                            data-bs-toggle="modal"
                            data-bs-target="#waitingModal">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <span class="ps-1">درخواست ثبت سفارش</span>
                    </button>
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya"
                            data-bs-toggle="modal"
                            data-bs-target="#documentModal"
                            type="button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        مشاهده مستندات
                    </button>
                </div>
            {% endif %}
            {% if object.status == 'rp' %}
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       href="{% url 'order_registration:update_status_with_operation' object.pk 'c' %}">ابطال پرونده</a>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya disabled" href="#">کپی پرونده</a>
                </div>
                <div class="m-2">
                    <a href="{% url 'order_registration:update_main_data' object.pk %}"
                       class="btn btn-primary btn-maya">ویرایش پرونده</a>
                </div>
                <div class="m-2">
                    <form method="post" action="{% url 'order_registration:pay' %}">
                        {% csrf_token %}
                        <input type="hidden" name="main_data_id" value="{{ object.pk }}">
                        <button type="submit"
                            data-bs-href="{% url 'order_registration:update_status' object.pk %}"
                            class="btn  btn-pu"
                            data-bs-status="پرداخت کارمزد">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <span class="ps-1">پرداخت کارمزد</span>
                    </button>
                    </form>
                    
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya"
                            data-bs-toggle="modal"
                            data-bs-target="#documentModal"
                            type="button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        مشاهده مستندات
                    </button>
                </div>
            {% endif %}
            {% if object.status == 'r' %}
                <div class="m-2">
                    <button class="btn btn-success btn-forest disabled" type="button">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-danger btn-cinnabar"
                       href="{% url 'order_registration:detail' object.pk %}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya disabled">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="ps-1">تغییر سطح دسترسی</span>
                    </button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       href="{% url 'order_registration:update_status_with_operation' object.pk 'c' %}">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                        <span class="ps-1">ابطال پرونده</span>
                    </a>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya disabled" href="#">کپی پرونده</a>
                </div>
                <div class="m-2">
                    <a href="{% url 'order_registration:update_main_data' object.pk %}"
                       class="btn btn-primary btn-maya">ویرایش پرونده</a>
                </div>
                <div class="m-2">
                    <button class="btn  btn-warning btn-mango"
                            data-bs-toggle="modal"
                            data-bs-target="#documentModal"
                            type="button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        مشاهده مستندات
                    </button>
                </div>
                <div class="m-2">
                    <button class="btn  btn-primary btn-maya" type="button">تمدید ثبت سفارش</button>
                </div>
                <div class="m-2">
                    <a class="btn  btn-primary btn-maya"
                       target="_blank"
                       href="{% url 'order_registration:generate_pdf' object.pk %}">چاپ اطلاعات ثبت سفارش</a>
                </div>
                <div class="m-2">
                    <button class="btn btn-primary btn-maya" type="button">
                        <i class="fa fa-database"></i>
                        <span class="ps-1">استعلام اولویت ثبت سفارش</span>
                    </button>
                </div>
            {% endif %}
        </div>
        {% comment %} END NEW EDITION {% endcomment %}
        <div class="row">
            <div class="col-12">
                <nav class="nav nav-tabs flex-column flex-sm-row d-tabs">
                    <a class="flex-sm-fill text-sm-center nav-link active"
                       id="pills-home-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-home"
                       type="button"
                       role="tab"
                       aria-controls="pills-home"
                       aria-selected="true">کالاها</a>
                    <a class="flex-sm-fill text-sm-center nav-link"
                       id="pills-profile-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-profile"
                       type="button"
                       role="tab"
                       aria-controls="pills-profile"
                       aria-selected="false"
                       href="#">مشاهده آخرین وضعیت درخواست‌ها</a>
                    <a class="flex-sm-fill text-sm-center nav-link"
                       href="#"
                       id="pills-contact-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-contact"
                       type="button"
                       role="tab"
                       aria-controls="pills-profile"
                       aria-selected="false">مشاهده سوابق تغییر وضعیت پرونده</a>
                    <a class="flex-sm-fill text-sm-center nav-link"
                       href="#"
                       id="pills-marz-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-marz"
                       type="button"
                       role="tab"
                       aria-controls="pills-marz"
                       aria-selected="false">مجوزها مورد نیاز پرونده</a>
                    <a class="flex-sm-fill text-sm-center nav-link"
                       href="#"
                       id="pills-moredi-tab"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-moredi"
                       type="button"
                       role="tab"
                       aria-controls="pills-moredi"
                       aria-selected="false">مشاهده سوابق تغییر سطح دسترسی</a>
                    <a class="flex-sm-fill text-sm-center nav-link"
                       href="#"
                       data-bs-toggle="pill"
                       data-bs-target="#pills-pay"
                       type="button"
                       role="tab"
                       aria-controls="pills-pay"
                       aria-selected="false">گزارش پرداخت</a>
                </nav>
                <div class="tab-content bg-white" id="pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="pills-home"
                         role="tabpanel"
                         aria-labelledby="pills-home-tab"
                         tabindex="0">
                        <div class="mt-4">
                            <table class="table table-striped table-hover table-bordered text-center">
                                <thead class="text-white bg-navy">
                                    <tr>
                                        <th>کد مجازی کالاها</th>
                                        <th>کد تعرفه</th>
                                        <th>شرح تعرفه</th>
                                        <th>شرح تجاری</th>
                                        <th>درصد حقوق ورودی</th>
                                        <th>کارخانه سازنده</th>
                                        <th>وضعیت کالا</th>
                                        <th>سال تولید</th>
                                        <th>وزن خالص</th>
                                        <th>وزن ناخالص</th>
                                        <th>تعداد / مقدار</th>
                                        <th>مبلغ FOB</th>
                                        <th>وضعیت ترخیص</th>
                                        <th>جزئیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for w in object.ware_set.all %}
                                        <tr>
                                            <td>{{ w.virtual_code }}</td>
                                            <td>{{ w.hs_code }}</td>
                                            <td></td>
                                            <td>{{ w.persian_title }}</td>
                                            <td></td>
                                            <td>{{ w.producer_name }}</td>
                                            <td>{{ w.get_status_display }}</td>
                                            <td>{{ w.manufacture_year }}</td>
                                            <td>{{ w.net_weight }}</td>
                                            <td>{{ w.gross_weight }}</td>
                                            <td>{{ w.amount }}</td>
                                            <td>{{ w.fob_price }}</td>
                                            <td>ترخیص نشده</td>
                                            <td>
                                                <button href="#" class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane"
                         id="pills-profile"
                         role="tabpanel"
                         aria-labelledby="pills-profile-tab"
                         tabindex="0">
                        <table class="table table-striped table-hover table-bordered text-center">
                            <thead class="text-white bg-navy">
                                <tr>
                                    <th>شماره مجازی کالا</th>
                                    <th>شماره تعرفه</th>
                                    <th>شرح تجاری</th>
                                    <th>نتیجه استعلام ضوابط</th>
                                    <th>سازمان مجوز دهنده</th>
                                    <th>توضیحات سامان مجوز دهنده</th>
                                    <th>فیلدهای مهم مجوز دهنده</th>
                                    <th>وضعیت درخواست مجوز</th>
                                    <th>نتیجه اولیه درخواست ثبت سفارش</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for  w in object.ware_set.all %}
                                    <tr>
                                        <td>{{ w.virtual_code }}</td>
                                        <td>{{ w.hs_code }}</td>
                                        <td>{{ w.persian_title }}</td>
                                        <td>نیاز به اخذ مجوز ارزی سازمان صنعت، معدن، و تجارت استان</td>
                                        <td>سازمان صنعت، معدن و تجرات استان-تخصیص ارز</td>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn  success btn-forest">مشاهده</button>
                                        </td>
                                        <td>
                                            {% if object.status == 'rr' or object.status == 'p' or object.status == 'rp' or object.status == 'r' %}
                                                <span>تایید</span>
                                            {% endif %}
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade"
                         id="pills-contact"
                         role="tabpanel"
                         aria-labelledby="pills-contact-tab"
                         tabindex="0">
                        <div class="mt-4">
                            <table class="table table-striped table-hover table-bordered text-center">
                                <thead class="text-white bg-navy">
                                    <tr>
                                        <th>ردیف</th>
                                        <th>تاریخ و زمان</th>
                                        <th>وضعیت فعالیت</th>
                                        <th>وضعیت پرونده</th>
                                        <th>نسخه پرونده</th>
                                        <th>شماره درخواست سامانه مجوزها</th>
                                        <th>پیام و هشدارهای دریافتی</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="pills-marz"
                         role="tabpanel"
                         aria-labelledby="pills-moredi-tab"
                         tabindex="0">
                        {% comment %} مجوزهای مورد نیاز پرونده {% endcomment %}
                        <div class="mt-4">
                            <table class="table table-striped table-hover table-bordered text-center">
                                <thead class="text-white bg-navy">
                                    <tr>
                                        <th>ردیف</th>
                                        <th>عنوان مجوز دهنده</th>
                                        <th>وضعیت</th>
                                        <th>وضعیت ارسال</th>
                                        <th>نتیجه مجوز</th>
                                        <th>تعداد کالاهایی که نیاز به این مجوز دارند</th>
                                        <th>جزئیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if object.status == 'w' or object.status == 'rr' or object.status == 'p' or object.status == 'pr' or object.status == 'r' or object.status == 'id' %}
                                        <tr>
                                            <td>۱</td>
                                            <td>سازمان صنعت، معدن و تجارت استان- تخصیص ارز</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>۲</td>
                                            <td>وزارت جهاد- تخصیص ارز</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>۳</td>
                                            <td>وزارت بهداشت، درمان و آموزش پزشکی</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>۵</td>
                                            <td>مجوز کنترل سیستمی سابقه واردات</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>۶</td>
                                            <td>مجوز عدم ساخت</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>۷</td>
                                            <td>بررسی سهمیه واحدهای تولیدی</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>۸</td>
                                            <td>بررسی سیستمی سهمیه تعرفه‌های ماشین‌آلات</td>
                                            <td>فعال</td>
                                            <td>دریافت نتیجه</td>
                                            <td>تایید شده</td>
                                            <td>۱</td>
                                            <td>
                                                <button class="btn  btn-primary btn-maya">جزئیات</button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="pills-moredi"
                         role="tabpanel"
                         aria-labelledby="pills-moredi-tab"
                         tabindex="0">
                        <table class="table table-striped table-hover table-bordered text-center">
                            <thead class="text-white bg-navy">
                                <tr>
                                    <th>ردیف</th>
                                    <th>تاریخ</th>
                                    <th>عنوان وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade"
                         id="pills-pay"
                         role="tabpanel"
                         aria-labelledby="pills-pay-tab"
                         tabindex="0">گزارش پرداخت‌ها</div>
                </div>
            </div>
            <div class="col-12 mt-3 ps-3">
                <a href="{% url 'order_registration:main_data_list' %}"
                   class="btn btn-primary btn-maya">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span class="ps-1">بازگشت</span></a>
            </div>
        </div>
    </div>
    <!-- Document Modal -->
    <div class="modal fade"
         id="documentModal"
         tabindex="-1"
         aria-labelledby="documentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="documentModalLabel">مستندات پرونده</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if object.document %}
                        {% if object.get_document_type == 'is_img' %}
                            <img src={{ object.document.url }} width="400px" height="auto">
                        {% else %}
                            <a class="btn  btn-info"
                               href="{{ object.document.url }}"
                               target="_blank">مشاهده پی‌دی‌اف</a>
                        {% endif %}
                    {% else %}
                        <p>برای این پرونده هیچ مستندی آپلود نشده است.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-danger btn-cinnabar"
                            data-bs-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Waiting Modal -->
    <div class="modal fade"
         id="waitingModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="waitingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content pt-5">
                <div class="modal-body mt-5 pt-5">
                    <div class="text-center mt-5 pt-5">
                        <img src="{% static 'images/logo-animation.gif' %}">
                    </div>
                    <h3 id="status-text" class="text-center mt-3"></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block js %}
    <script src="{% static 'order_registration/main_data.js' %}"></script>
{% endblock js %}
