{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load date_filters %}
{% block title %}
    پرونده ثبت سفارش
{% endblock title %}
{% block page-title %}
    مدیریت پرونده
{% endblock page-title %}
{% block head %}
    <link href="{% static 'selectize-master/css/selectize.css' %}"
          rel="stylesheet">
    <link href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}"
          rel="stylesheet">
{% endblock head %}
{% block main %}
    <nav class="" aria-label="breadcrumb">
        <ol class="breadcrumb order-registration-breadcrumb">
            <li class="breadcrumb-item border-bottom border-top px-4 py-3  processed">
                <strong class="outline-badge">{% include "order_registration/svg/tick.html" %}</strong>
                <strong>اطلاعات اصلی</strong>
            </li>
            <li class="breadcrumb-item border-bottom border-top px-4 ps-5 py-3 processed"
                aria-current="page">
                <strong class="outline-badge">{% include "order_registration/svg/tick.html" %}</strong>
                <strong>گمرکی و حمل و نقل</strong>
            </li>
            <li class="breadcrumb-item border-bottom border-top px-4 ps-5 py-3 processed"
                aria-current="page">
                <strong class="outline-badge">{% include "order_registration/svg/tick.html" %}</strong>
                <strong>مالی و بانکی</strong>
            </li>
            <li class="breadcrumb-item border-bottom border-top px-4 ps-5 py-3 processed"
                aria-current="page">
                <strong class="outline-badge">{% include "order_registration/svg/tick.html" %}</strong>
                <strong>کالاهای پرونده</strong>
            </li>
            <li class="breadcrumb-item border-bottom border-top px-4 ps-5 py-3 active"
                aria-current="page">
                <strong class="outline-badge">۵</strong>
                <strong>مستندات پرونده</strong>
            </li>
        </ol>
    </nav>
    <div class="container-fluid bg-white py-4">
        <div class="row">
            <div class="col-12 mb-3">
                <span class="px-4 py-2 shadow-sm border-start border-dark border-4 bg-white text-center">مستندات پرونده</span>
            </div>
            <div class="col-12">
                {% if is_pdf %}
                    <object data="{{ url }}" type="application/pdf">
                        <div>نمایشگر پی‌دی‌اف دردسترس نمی‌باشد</div>
                    </object>
                {% endif %}
                {% if is_image %}<img src="{{ url }}" height="300px" width="auto">{% endif %}
                <form method="post" enctype="multipart/form-data" id="delete-form">
                    {% csrf_token %}
                    <div>
                        <input type="checkbox" name="document-clear" class="d-none" checked>
                    </div>
                    <div class="my-3">
                        <button type="submit" class="btn  btn-danger btn-bittersweet">حذف</button>
                    </div>
                </form>
            </div>
            <div class="col-12 mt-3">
                <div class="d-md-flex justify-content-between align-items-center border border-top shadow-sm">
                    <div class="d-md-flex">
                        <div class="my-3 mx-2 bg-light px-2 py-3">
                            <span>وضعیت پرونده:</span>
                            <span class="text-danger ps-1">{{ object.get_status_display }}</span>
                        </div>
                        <div class="my-3 mx-2 px-2 py-3">
                            <button type="button"
                                    class="btn  btn-danger btn-bittersweet"
                                    data-bs-toggle="modal"
                                    data-bs-target="#uploadDocumentModal">افزودن مستند</button>
                        </div>
                    </div>
                    <div class="d-md-flex align-items-center">
                        <div class="my-3 mx-2">
                            <button type="button" class="btn  success btn-forest px-3">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="my-3 mx-2">
                            <a href="{% url 'order_registration:main_data_list' %}"
                               class="btn  btn-primary btn-maya">انصراف</a>
                        </div>
                        <div class="my-3 mx-2">
                            <a href="{% url 'order_registration:ware_list' main_data_id %}"
                               class="btn  btn-primary btn-maya">
                                <i class="fa fa-step-backward" aria-hidden="true"></i>
                                <span class="ps-1">قبلی</span>
                            </a>
                        </div>
                        <div class="my-3 mx-2">
                            <a type="button"
                               class="btn  success btn-forest"
                               href="{% url 'order_registration:main_data_list' %}?msg=success">ثبت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} FILE UPLOAD MODAL {% endcomment %}
    <!-- Modal -->
    <div class="modal fade"
         id="uploadDocumentModal"
         tabindex="-1"
         aria-labelledby="uploadDocumentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="uploadDocumentModalLabel">انتخاب مستندات پرونده</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        <p>توجه: حجم فایل باید کمتر از ۴۰۰ کیلوبایت باشد.</p>
                        <p>فرمت‌های قابل قبول: .jpg, .jpeg, .pdf</p>
                    </div>
                    {{ form.errors }}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>{{ form.document }}</div>
                        <div class="my-3">
                            <button type="submit" class="btn  success btn-forest">ثبت مستندات</button>
                            <button type="button" class="btn  btn-danger btn-bittersweet data-bs-dismiss="modal">انصراف
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block js %}
    {% if form.errors %}
        <script>
            const myModal = new bootstrap.Modal(document.getElementById('uploadDocumentModal'));
            myModal.show();
        </script>
    {% endif %}
{% endblock js %}
