<div class="bg-white p-3 shadow-sm border-start border-navy border-4 alerdata">
<div class="well bordered-left bordered-themeprimary">
                        <p>
                            <strong class="fa fa-circle" style="color: #024158;"></strong>&nbsp;&nbsp;
                            کاربر گرامی، شما می‌توانید در صورت مواجهه با هر مشکل فنی در این سامانه و یا برای ارائه پیشنهادهای خود به منظور بهبود سیستم، از قسمت بالای صفحه، سمت چپ، گزینه «ثبت و پیگیری مشکل» را انتخاب و مشکل یا نظرات خود را ثبت نموده و حداکثر ظرف مدت 24 ساعت، پاسخ آن را دریافت نمایید
                        </p>
                        <p>
                            <strong class="fa fa-circle" style="color: #024158;"></strong>&nbsp;&nbsp;
                            کاربر گرامی، شما می توانید جهت دریافت اطلاعیه های سامانه جامع تجارت ایران به کانال سامانه "بله" به آدرس Ntsw_ir@ مراجعه نمایید.
                        </p>
                    </div>
</div>

<style>
    li::marker {
        font-size: 20px;

    }
</style>
