<div class="bg-white p-3 shadow-sm border-start border-navy border-4 alerdata">
<div class="well bordered-left bordered-themeprimary">
                        <p>
                            <strong class="fa fa-circle" style="color: #024158;"></strong>&nbsp;&nbsp;
                            به اطلاع کلیه کاربران سامانه جامع تجارت می رساند، با توجه به الزامی شدن ثبت رسید و حواله در سامانه جامع انبارها ( www.nwms.ir)، در انبارهایی که تحت مالکیت کاربر می باشد (انبارهای خصوصی)، اطلاعات رسید و حواله از طریق سامانه جامع تجارت به سامانه جامع انبارها ارسال می‌شود. (خصوصی بودن انبار در فرم "مدیریت واحدهای انبار" در ستون "بهره بردار" مشخص می باشد.)
                        </p>
                        <p>
                            <strong class="fa fa-circle" style="color: #024158;"></strong>&nbsp;&nbsp;
                           در صورتی که انبار تحت مالکیت کاربر نباشد (انبارهای عمومی)، اطلاعات به سامانه جامع انبارها منتقل نمی شود و متولی انبار(انباردار) موظف به ثبت اطلاعات در سامانه جامع انبارها می باشد. لذا با توجه به استعلام موجودی کالا از سامانه جامع انبارها در زمان بازرسی، علاوه بر ثبت سند در سامانه جامع تجارت، پیگیری لازم جهت ثبت اطلاعات موجودی در سامانه جامع انبارها صورت گیرد.
                        </p>
                    </div>
</div>

<br>


<div class="bg-white p-3 shadow-sm border-start border-navy border-4 alerdata">
<div class="well bordered-left bordered-themeprimary">
                            <p>
                            <strong class="fa fa-circle" style="color: #024158;"></strong>&nbsp;&nbsp;
                            کاربر گرامی، شما می‌توانید در صورت مواجهه با هر مشکل فنی در این سامانه و یا برای ارائه پیشنهادهای خود به منظور بهبود سیستم، از قسمت بالای صفحه، سمت چپ، گزینه «ثبت و پیگیری مشکل» را انتخاب و مشکل یا نظرات خود را ثبت نموده و حداکثر ظرف مدت 24 ساعت، پاسخ آن را دریافت نمایید
                        </p>
                        <p>
                            <strong class="fa fa-circle" style="color: #024158;"></strong>&nbsp;&nbsp;
                            کاربر گرامی، شما می توانید جهت دریافت اطلاعیه های سامانه جامع تجارت ایران به کانال سامانه "بله" به آدرس Ntsw_ir@ مراجعه نمایید.
                        </p>
                    </div>
</div>


<style>
    li::marker {
        font-size: 20px;

    }
</style>
