{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load ui_template_tag %}

{% block title %}
مدیریت اسناد
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumbs 'عملیات تجارت داخلی' '#' 'مدیریت اسناد' '#' %}
{% endblock breadcrumbs %}

{% block page-title %}
مدیریت اسناد خروجی
{% endblock page-title %}

{% block main %}
<link rel='stylesheet' href='https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css' media='all' />
<div class="container-fluid">
    <div class="bg-white p-3 request-main-data">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <form id="frmSearch" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                  
<div class="row">
          <!-- نوع سند -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">نوع سند</span>
              <select name="selltypes" id="selltypes" class="form-control">
                <option value="">انتخاب کنید</option>
                <option value="2">انتقال مالکیت</option>
                <option value="3">فعال سازی از طریق کد فعال سازی</option>
                <option value="4">تفکیک</option>
                <option value="5">انتقال مکان</option>
                <option value="6">انتقال مالکیت و مکان</option>
                <option value="8">فعال سازی از طریق کد ملی</option>
                <option value="9">فعال سازی از طریق شماره موبایل</option>
                <option value="12">خرده فروشی</option>
                <option value="13">فاکتور فروش به تاجر</option>
                <option value="17">برگشت از خرید</option>
                <option value="18">اسقاط/فساد کالا</option>
                <option value="20">صادرات</option>
                <option value="21">انبارگردانی (کاهشی)</option>
                <option value="22">استفاده در تولید</option>
                <option value="25">اُفت کالا</option>
                <option value="28">انتقال به مراکز عرضه</option>
                <option value="30">تحویل حق العمل کاری</option>
                <option value="31">تولید شناسه های رهگیری</option>
                <option value="32">فاکتور مالیاتی فروش به تاجر</option>
                <option value="33">فاکتور برگشت از فروش</option>
                <option value="35">فاکتور فروش به مصرف کننده</option>
                <option value="36">فاکتور مالیاتی فروش به مصرف کننده</option>
                <option value="37">فاکتور مالیاتی برگشت از فروش</option>
                <option value="39">فروش خارج از ضابطه</option>
                <option value="40">تولید رهگیری فرامرزی</option>
                <option value="41">خروج کالای تفکیک/تجمیع/بسته بندی</option>
                <option value="43">تحویل امانت</option>
                <option value="44">برگشت امانت</option>
                <option value="46">پیش فاکتور</option>
                <option value="47">فاکتور مالیاتی اصلاحی</option>
                <option value="48">فاکتور مالیاتی ابطالی</option>
                <option value="49">فروش صادراتی</option>
                <option value="50">خرید بورس کالا</option>
                <option value="51">مصارف داخلی</option>
                <option value="54">تبدیل خلوص طلا(عیار)</option>
                <option value="57">استفاده در گارانتی</option>
              </select>
            </div>
          </div>

          <!-- وضعیت سند -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">وضعیت سند</span>
              <select name="status" id="status" class="form-control">
                <option value="">انتخاب کنید</option>
                <option value="2">در انتظار تایید</option>
                <option value="3">فروش نهایی (انتقال به همتا)</option>
                <option value="4">تایید شده</option>
                <option value="5">عدم تایید</option>
                <option value="6">باطل شده</option>
                <option value="7">ثبت اولیه</option>
                <option value="8">پیش نویس</option>
                <option value="9">در انتظار سهمیه</option>
                <option value="10">تخصیص یافته</option>
                <option value="11">حذف شده</option>
                <option value="12">در حال حمل</option>
                <option value="13">استعلام</option>
                <option value="14">ارسال شده</option>
                <option value="15">تائید مجوز حمل</option>
                <option value="16">تایید نهایی</option>
              </select>
            </div>
          </div>

          <!-- نوع تاریخ -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">نوع تاریخ</span>
              <select name="dateTimeType" id="dateTimeType" class="form-control">
                <option value="1" selected>تاریخ سند</option>
                <option value="2">تاریخ ثبت</option>
              </select>
            </div>
          </div>

          <!-- از تاریخ - تا تاریخ -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">از تاریخ - تا تاریخ</span>
              <input type="text" id="fromDate" name="fromDate" placeholder="از تاریخ" class="form-control" style="width:50%">
              <input type="text" id="toDate" name="toDate" placeholder="تا تاریخ" class="form-control" style="width:50%">
            </div>
          </div>

          <!-- نوع جستجو -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">نوع جستجو</span>
              <select name="searchType" id="searchType" class="form-control">
                <option value="1" selected>شماره سند</option>
                <option value="2">شماره صورتحساب</option>
                <option value="10">کوتاژ</option>
                <option value="9">شماره قرارداد بورس</option>
                <option value="4">کدپستی انبار مقصد</option>
                <option value="3">کدپستی انبار مبدا</option>
                <option value="6">کد/شناسه ملی خریدار</option>
                <option value="7">کد/شناسه ملی فروشنده</option>
                <option value="8">کدملی خریدار مصرف کننده</option>
                <option value="5">کدپستی محل عرضه</option>
                <option value="13">شناسه کالا</option>
              </select>
            </div>
          </div>

          <!-- متن جستجو -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <input type="text" name="txtSearch" id="txtSearch" class="form-control" placeholder="متن جستجو">
            </div>
          </div>

          <!-- دکمه‌های جستجو و لغو -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <button type="button" class="btn btn-primary me-2"><i class="fa fa-search"></i> جستجو</button>
              <button type="button" class="btn btn-warning"><i class="fa fa-remove"></i> لغو فیلتر</button>
            </div>
          </div>

          <!-- دریافت خروجی اکسل -->
          <div style="display: flex;flex-direction: row-reverse;text-align: left;justify-content: flex-end;text-align: left;position: inherit;">
            <div class="col-md-3 mb-3">
            <div class="input-group">
              <div class="dropdown">
                <button class="btn btn-purple-csm dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-upload"></i> دریافت خروجی اکسل
                </button>
                <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                  <li><button name="exportexcelsanad" id="exportexcelsanad" class="dropdown-item">به تفکیک سند</button></li>
                  <li><button name="exportexcelkala" id="exportexcelkala" class="dropdown-item">به تفکیک کالا</button></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- تعیین وضعیت سند با فایل اکسل -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <button type="button" name="ImportExcel" id="ImportExcel" class="btn btn-success w-100"><i class="fa fa-download"></i> تعیین وضعیت سند با فایل اکسل</button>
            </div>
          </div>

          <!-- ثبت شماره مالیاتی با اکسل -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <button type="button" name="ImportExcelTax" id="ImportExcelTax" class="btn w-100" style="background-color: #ffff01; border-color: #f4b400; color: #080808;">
                <i class="fa fa-download"></i> ثبت شماره مالیاتی با اکسل
              </button>
            </div>
          </div>
          </div> 
        </div>
                    
                    
        <div class="row mt-4">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="example" class="display">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>شماره سند</th>
                                <th>تاریخ سند</th>
                                <th>تاریخ ثبت</th>
                                <th>نوع سند</th>
                                <th>خریدار</th>
                                <th>مبدأ</th>
                                <th>مقصد</th>
                                <th>شماره بارنامه</th>
                                <th>شرح سند</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                                <th>جزئیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in document_trade_list %}
                            <tr
                                {% if item.status == 'approved' %}
                                    style="background-color: #d4edda;"
                                {% elif item.status == 'rejected' %}
                                    style="background-color: #801515; color: white;"
                                {% endif %}
                            >
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.document_number }}</td>
                                <td>{{ item.document_date|to_jalali }}</td>
                                <td>{{ item.register_date|to_jalali }}</td>
                                <td>{{ item.document_type }}</td>
                                <td>{{ item.buyer }} ({{ item.buyer.username|default:"-" }})</td>
                                <td>
                                  {% if item.seller_anbar %}
                                      {{ item.seller_anbar.name|default:"-" }}
                                  {% else %}
                                      انبار موقت
                                  {% endif %}
                                </td>
                                <td>
                                  {% if item.anbar %}
                                      {{ item.anbar.name|default:"-" }}
                                  {% else %}
                                      انبار موقت
                                  {% endif %}
                                </td>
                                <td>{{ item.bill_number }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    {% if item.status == 'approved' %}
                                    <p style="color:green;margin: 0;"> {{ item.get_status_display }} </p>
                                    {% else %}
                                    <p style="margin: 0;"> {{ item.get_status_display }} </p>
                                    {% endif %}
                                </td>
                                <td class="allbtn">
                                    
                                        <p style="width: 100%"> --- </p>
                              
                                </td>
                                <td>
                                    <a style="font-size: 9px; color: white;" name="BtnPrintFactor"
                                        class="btn btn-info btn-xs search margin-right-5 margin-top-5">
                                        <i class="fa fa-check"></i>چاپ فاکتور
                                    </a>
                                </td>
                            </tr>

                          
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>



                </form>
            </div>
        </div>
    </div>
</div>

<style>
.input-group-text.bg-light {
    width: 120px;
}
.btn-purple-csm {
    background-color: #6f42c1 !important;
    color: #fff;
}
.btn-purple-csm:hover {
    background-color: #5a32a3 !important;
}
.dropdown-menu {
    min-width: 100%;
}
.text-align-center {
    text-align: center !important;
}
.bg-themeprimary {
    background-color: #024158 !important;
    color: white;
}
.bg-themeprimary th {
    text-align: center !important;
}
.table-responsive {
    overflow-x: auto;
}
.hidden {
    display: none;
}
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
	margin-right: initial !important;
}
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
	margin-left: initial !important;
}
</style>
{% endblock main %}

{% block js %}
<!-- بارگذاری jQuery و DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
<!-- بارگذاری Persian Datepicker (در صورت نیاز) -->

<script>
$(document).ready(function() {


    // اینیشیالایز DataTable
    $('#example').DataTable({
        paging: true,
        searching: true,
        info: true,
        ordering: false,
        pageLength: 10,
        language: {
            "sEmptyTable": "هیچ داده‌ای در جدول وجود ندارد",
            "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
            "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
            "sLengthMenu": "نمایش _MENU_ رکورد",
            "sLoadingRecords": "در حال بارگذاری...",
            "sProcessing": "در حال پردازش...",
            "sSearch": "جستجو:",
            "sZeroRecords": "رکوردی مطابق جستجوی شما پیدا نشد",
            "oPaginate": {
                "sFirst": "اولین",
                "sLast": "آخرین",
                "sNext": "بعدی",
                "sPrevious": "قبلی"
            }
        },
      
    });

});
</script>
{% endblock js %}