{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load ui_template_tag %}

{% block title %}
مدیریت اسناد
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumbs 'عملیات تجارت داخلی' '#' 'مدیریت اسناد' '#' %}
{% endblock breadcrumbs %}

{% block page-title %}
مدیریت اسناد خروجی
{% endblock page-title %}

{% block main %}
<link rel='stylesheet' href='https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css' media='all' />
<div class="container-fluid">
    <div class="bg-white p-3 request-main-data">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <form id="frmSearch" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                    <div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0"><i class="fa fa-search"></i> نوار ابزار</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- نوع سند -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">نوع سند</span>
              <select name="selltypes" id="selltypes" class="form-control">
                <option value="">انتخاب کنید</option>
                <option value="2">انتقال مالکیت</option>
                <option value="3">فعال سازی از طریق کد فعال سازی</option>
                <option value="4">تفکیک</option>
                <option value="5">انتقال مکان</option>
                <option value="6">انتقال مالکیت و مکان</option>
                <option value="8">فعال سازی از طریق کد ملی</option>
                <option value="9">فعال سازی از طریق شماره موبایل</option>
                <option value="12">خرده فروشی</option>
                <option value="13">فاکتور فروش به تاجر</option>
                <option value="17">برگشت از خرید</option>
                <option value="18">اسقاط/فساد کالا</option>
                <option value="20">صادرات</option>
                <option value="21">انبارگردانی (کاهشی)</option>
                <option value="22">استفاده در تولید</option>
                <option value="25">اُفت کالا</option>
                <option value="28">انتقال به مراکز عرضه</option>
                <option value="30">تحویل حق العمل کاری</option>
                <option value="31">تولید شناسه های رهگیری</option>
                <option value="32">فاکتور مالیاتی فروش به تاجر</option>
                <option value="33">فاکتور برگشت از فروش</option>
                <option value="35">فاکتور فروش به مصرف کننده</option>
                <option value="36">فاکتور مالیاتی فروش به مصرف کننده</option>
                <option value="37">فاکتور مالیاتی برگشت از فروش</option>
                <option value="39">فروش خارج از ضابطه</option>
                <option value="40">تولید رهگیری فرامرزی</option>
                <option value="41">خروج کالای تفکیک/تجمیع/بسته بندی</option>
                <option value="43">تحویل امانت</option>
                <option value="44">برگشت امانت</option>
                <option value="46">پیش فاکتور</option>
                <option value="47">فاکتور مالیاتی اصلاحی</option>
                <option value="48">فاکتور مالیاتی ابطالی</option>
                <option value="49">فروش صادراتی</option>
                <option value="50">خرید بورس کالا</option>
                <option value="51">مصارف داخلی</option>
                <option value="54">تبدیل خلوص طلا(عیار)</option>
                <option value="57">استفاده در گارانتی</option>
              </select>
            </div>
          </div>

          <!-- وضعیت سند -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">وضعیت سند</span>
              <select name="status" id="status" class="form-control">
                <option value="">انتخاب کنید</option>
                <option value="2">در انتظار تایید</option>
                <option value="3">فروش نهایی (انتقال به همتا)</option>
                <option value="4">تایید شده</option>
                <option value="5">عدم تایید</option>
                <option value="6">باطل شده</option>
                <option value="7">ثبت اولیه</option>
                <option value="8">پیش نویس</option>
                <option value="9">در انتظار سهمیه</option>
                <option value="10">تخصیص یافته</option>
                <option value="11">حذف شده</option>
                <option value="12">در حال حمل</option>
                <option value="13">استعلام</option>
                <option value="14">ارسال شده</option>
                <option value="15">تائید مجوز حمل</option>
                <option value="16">تایید نهایی</option>
              </select>
            </div>
          </div>

          <!-- نوع تاریخ -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">نوع تاریخ</span>
              <select name="dateTimeType" id="dateTimeType" class="form-control">
                <option value="1" selected>تاریخ سند</option>
                <option value="2">تاریخ ثبت</option>
              </select>
            </div>
          </div>

          <!-- از تاریخ - تا تاریخ -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">از تاریخ - تا تاریخ</span>
              <input type="text" id="fromDate" name="fromDate" placeholder="از تاریخ" class="form-control" style="width:50%">
              <input type="text" id="toDate" name="toDate" placeholder="تا تاریخ" class="form-control" style="width:50%">
            </div>
          </div>

          <!-- نوع جستجو -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <span class="input-group-text bg-light">نوع جستجو</span>
              <select name="searchType" id="searchType" class="form-control">
                <option value="1" selected>شماره سند</option>
                <option value="2">شماره صورتحساب</option>
                <option value="10">کوتاژ</option>
                <option value="9">شماره قرارداد بورس</option>
                <option value="4">کدپستی انبار مقصد</option>
                <option value="3">کدپستی انبار مبدا</option>
                <option value="6">کد/شناسه ملی خریدار</option>
                <option value="7">کد/شناسه ملی فروشنده</option>
                <option value="8">کدملی خریدار مصرف کننده</option>
                <option value="5">کدپستی محل عرضه</option>
                <option value="13">شناسه کالا</option>
              </select>
            </div>
          </div>

          <!-- متن جستجو -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <input type="text" name="txtSearch" id="txtSearch" class="form-control" placeholder="متن جستجو">
            </div>
          </div>

          <!-- دکمه‌های جستجو و لغو -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <button type="button" class="btn btn-primary me-2"><i class="fa fa-search"></i> جستجو</button>
              <button type="button" class="btn btn-warning"><i class="fa fa-remove"></i> لغو فیلتر</button>
            </div>
          </div>

          <!-- دریافت خروجی اکسل -->
          <div style="display: flex;flex-direction: row-reverse;text-align: left;justify-content: flex-end;text-align: left;position: inherit;">
            <div class="col-md-3 mb-3">
            <div class="input-group">
              <div class="dropdown">
                <button class="btn btn-purple-csm dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-upload"></i> دریافت خروجی اکسل
                </button>
                <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                  <li><button name="exportexcelsanad" id="exportexcelsanad" class="dropdown-item">به تفکیک سند</button></li>
                  <li><button name="exportexcelkala" id="exportexcelkala" class="dropdown-item">به تفکیک کالا</button></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- تعیین وضعیت سند با فایل اکسل -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <button type="button" name="ImportExcel" id="ImportExcel" class="btn btn-success w-100"><i class="fa fa-download"></i> تعیین وضعیت سند با فایل اکسل</button>
            </div>
          </div>

          <!-- ثبت شماره مالیاتی با اکسل -->
          <div class="col-md-3 mb-3">
            <div class="input-group">
              <button type="button" name="ImportExcelTax" id="ImportExcelTax" class="btn w-100" style="background-color: #ffff01; border-color: #f4b400; color: #080808;">
                <i class="fa fa-download"></i> ثبت شماره مالیاتی با اکسل
              </button>
            </div>
          </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>


                    <!-- جدول نتایج جستجو -->
                    
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>شماره سند</th>
                                            <th>تاریخ سند</th>
                                            <th>تاریخ ثبت</th>
                                            <th>نوع سند</th>
                                            <th>خریدار</th>
                                            <th>مبدأ</th>
                                            <th>مقصد</th>
                                            <th>شماره بارنامه</th>
                                            <th>شرح سند</th>
                                            <th>وضعیت</th>
                                            <th>عملیات</th>
                                            <th>جزئیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for item in document_trade_list %}
                                        <tr 
                                            {% if item.status == 'approved' %}
                                                style="background-color: #d4edda;"
                                            {% elif item.status == 'rejected' %}
                                                style="background-color: #801515; color: white;"
                                            {% endif %}
                                        >
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.document_number }}</td>
                                            <td>{{ item.document_date|to_jalali }}</td>
                                            <td>{{ item.register_date|to_jalali }}</td>
                                            <td>{{ item.document_type }}</td>
                                            <td>{{ item.seller }}</td>
                                            <td>{{ item.origin }}</td>
                                            <td>{{ item.destination }}</td>
                                            <td>{{ item.bill_number }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.get_status_display }}</td>
                                            <td class="allbtn">
                                                {% if item.status == 'pending' %}
                                                <a data-bs-toggle="modal" data-bs-target="#NonApprovalModal{{ item.id }}" name="notAcceptIncomingDoc" class="btn btn-danger btn-xs margin-right-5 margin-top-5">
                                                    <i class="fa fa-close"></i>عدم تایید
                                                </a>
                                                <a data-bs-toggle="modal" data-bs-target="#okStuffTransferModal{{ item.id }}" name="OKRegister" class="btn btn-success btn-xs margin-right-5 margin-top-5">
                                                    <i class="fa fa-check"></i>تایید خرید
                                                </a>
                                                <a name="BtnPrintFactor" class="btn btn-info btn-xs search margin-right-5 margin-top-5">
                                                    <i class="fa fa-check"></i>چاپ فاکتور
                                                </a>

                                                {% elif item.status == 'rejected' %}

                                                {% elif item.status == 'approved' %}
                                                    <a name="BtnPrintFactor" class="btn btn-info btn-xs search margin-right-5 margin-top-5">
                                                        <i class="fa fa-check"></i>چاپ فاکتور
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a style="font-size: 9px;color: white;" name="BtnPrintFactor" class="btn btn-info btn-xs search margin-right-5 margin-top-5">
                                                    <i class="fa fa-check"></i>چاپ فاکتور
                                                </a>
                                            </td>
                                        </tr>


                                        <!-- Modal -->
                                        <div class="modal fade" id="okStuffTransferModal{{ item.id }}" tabindex="-1" aria-labelledby="okStuffTransferModalLabel" aria-hidden="true">
                                        <div class="modal-dialog custom-xs">
                                            <div class="modal-content fv-form fv-form-bootstrap">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="okStuffTransferModalLabel">تایید خرید</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="FrmOkStuffeTransfer" novalidate>
                                                <!-- اطلاعات نقش -->
                                                <h6 class="row-title before-primary">اطلاعات نقش</h6>
                                                <hr>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="changeDocRole" name="changeDocRole">
                                                        <label class="form-check-label" for="changeDocRole">تغییر نقش سند</label>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span class="danger">*</span> انتخاب نقش</span>
                                                        <select class="form-control" id="selectRole" name="selectRole" disabled>
                                                        <option value="">انتخاب کنید</option>
                                                        <option value="53404">فرایندشیمی صدرا - تولید کننده</option>
                                                        <option value="164863">فرایندشیمی صدرا - واردکننده</option>
                                                        </select>
                                                    </div>
                                                    </div>
                                                </div>

                                                <!-- اطلاعات مقصد -->
                                                <h6 class="row-title before-primary">اطلاعات مقصد</h6>
                                                <hr>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span class="danger">*</span> انبار</span>
                                                        <select class="form-control" name="placeCombo" id="placeCombo23" required>
                                                        <option value="">انتخاب کنید</option>
                                                        <option value="119883">فرآیند شیمی صدرا (5189151875)</option>
                                                        </select>
                                                        <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">تاریخ تحویل</span>
                                                        <input type="text" id="DeliveryDate" name="DeliveryDate" class="date form-control persianDatePicker2">
                                                    </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-6 form-check">
                                                    <input type="checkbox" class="form-check-input" id="UnKnownWhereHouse" name="UnKnownWhereHouse">
                                                    <label class="form-check-label" for="UnKnownWhereHouse">انبار موقت (عدم ارسال به سامانه جامع انبار)</label>
                                                    </div>
                                                </div>

                                                <!-- اطلاعات حمل -->
                                                <h6 class="row-title before-primary">اطلاعات حمل</h6>
                                                <hr>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">شماره بارنامه</span>
                                                        <input type="text" class="form-control" name="WayBillNumber" id="WayBillNumber" disabled>
                                                        <button type="button" class="btn btn-blue"><i class="fa fa-search"></i></button>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6 form-check">
                                                    <input type="checkbox" class="form-check-input" id="HasWayBill" name="HasWayBill">
                                                    <label class="form-check-label" for="HasWayBill">بدون بارنامه</label>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">سریال بارنامه</span>
                                                        <input type="text" class="form-control" name="WayBillSerial" id="WayBillSerial" disabled>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">تاریخ بارنامه</span>
                                                        <input type="text" class="form-control persianDatePicker1" name="WayBillDate" id="WayBillDate" disabled>
                                                    </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span class="danger">*</span> کد ملی حمل کننده / راننده</span>
                                                        <input type="text" class="form-control" name="carrierNationalCode" id="carrierNationalCode" required>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span class="danger">*</span> شماره همراه حمل کننده / راننده</span>
                                                        <input type="text" class="form-control" name="carrierMobile" id="carrierMobile" required>
                                                    </div>
                                                    </div>
                                                </div>

                                                <!-- اطلاعات انبارداری -->
                                                <h6 class="row-title before-primary">اطلاعات انبارداری</h6>
                                                <hr>
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" class="form-check-input" id="InfoExistinWherehouse" name="InfoExistinWherehouse">
                                                    <label class="form-check-label" for="InfoExistinWherehouse">اطلاعات این سند قبلا در سامانه انبار ثبت شده است</label>
                                                </div>

                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn btn-success">ثبت</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">انصراف</button>
                                                </div>

                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                        </div>




                                        <!-- Modal برای FrmNonApproval -->
                                        <div class="modal fade" id="NonApprovalModal{{ item.id }}" tabindex="-1" aria-labelledby="NonApprovalModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg"> <!-- اندازه کوچک -->
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="NonApprovalModalLabel">عدم تایید سند</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="FrmNonApproval" action="#" method="post" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                                                <input name="__RequestVerificationToken" type="hidden" value="pQqU6piqlQESxLi9bS-O9LA-2KfsZ1hSOv9emqM6ATMPzvbp7ZMNdi9wVR_P1o3sXemBKZ1BLodS0zfzai3vEAv_0LI1">

                                                <h6 class="text-center text-danger mb-2">قبل از عدم تائید سند با فروشنده هماهنگی لازم را انجام دهید</h6>
                                                <hr>

                                                <div class="mb-3">
                                                    <label for="reasonType" class="form-label"><span class="text-danger">*</span> علت عدم تائید</label>
                                                    <select class="form-control" name="reasonType" id="reasonType" required>
                                                    <option selected value="">انتخاب کنید</option>
                                                    <option value="0">از فروشنده خرید نداشته ام</option>
                                                    <option value="1">از فروشنده خرید داشته ام ولی سند قابل تشخیص نیست</option>
                                                    <option value="2">از فروشنده خرید داشته ام ولی اطلاعات سند اشتباه است</option>
                                                    <option value="3">از فروشنده خرید داشته ام ولی از خرید منصرف شدم</option>
                                                    <option value="4">سایر</option>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="reasonDesc" class="form-label">شرح علت</label>
                                                    <input type="text" id="reasonDesc" name="reasonDesc" class="form-control">
                                                </div>

                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn btn-success">ثبت</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">انصراف</button>
                                                </div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                        </div>


                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>

<style>
.input-group-text.bg-light {
    width: 120px;
}
.btn-purple-csm {
    background-color: #6f42c1 !important;
    color: #fff;
}
.btn-purple-csm:hover {
    background-color: #5a32a3 !important;
}
.dropdown-menu {
    min-width: 100%;
}
.text-align-center {
    text-align: center !important;
}
.bg-themeprimary {
    background-color: #024158 !important;
    color: white;
}
.bg-themeprimary th {
    text-align: center !important;
}
.table-responsive {
    overflow-x: auto;
}
.hidden {
    display: none;
}
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
	margin-right: initial !important;
}
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
	margin-left: initial !important;
}
</style>
{% endblock main %}

{% block js %}
<!-- بارگذاری jQuery و DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
<!-- بارگذاری Persian Datepicker (در صورت نیاز) -->

<script>
$(document).ready(function() {


    // اینیشیالایز DataTable
    $('#example').DataTable({
        paging: true,
        searching: true,
        info: true,
        ordering: false,
        pageLength: 10,
        language: {
            "sEmptyTable": "هیچ داده‌ای در جدول وجود ندارد",
            "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
            "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
            "sLengthMenu": "نمایش _MENU_ رکورد",
            "sLoadingRecords": "در حال بارگذاری...",
            "sProcessing": "در حال پردازش...",
            "sSearch": "جستجو:",
            "sZeroRecords": "رکوردی مطابق جستجوی شما پیدا نشد",
            "oPaginate": {
                "sFirst": "اولین",
                "sLast": "آخرین",
                "sNext": "بعدی",
                "sPrevious": "قبلی"
            }
        },
      
    });

});
</script>
{% endblock js %}