{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load ui_template_tag %}

{% block title %}
اظهار خروج کالا
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumbs 'عملیات تجارت داخلی' '#' 'اظهار خروج کالا' '#' %}
{% endblock breadcrumbs %}

{% block page-title %}
اظهار خروج کالا
{% endblock page-title %}

{% block main %}
<link rel='stylesheet' href='https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css' media='all' />

<div class="container-fluid">
    <div class="bg-white p-3 request-main-data">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <form id="frmSearch" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                    <input name="__RequestVerificationToken" type="hidden"
                        value="t9izNyxn764UNZ9lpvEgWylLWTwpp6SSNP4X0UDc1fjEddy9slA5I2QP2iGITJY9LUwDoI06LBYBLStshDP0Q40_QVk1">
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="row">
                                <!-- دکمه‌های عملیاتی -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <a href="{% url 'foreintrade:register_foreintrade_khorooj_kala' %}" type="button" class="btn btn-primary me-2"
                                            id="btnDeclareInitailInventory" name="btnDeclareInitailInventory"><i
                                                class="fa fa-plus-square"></i> اظهار خروج کالا</a>
                                        <button type="button" class="btn btn-success me-2" id="ImpotrtFromExcemFile"
                                            name="ImpotrtFromExcemFile"><i class="fa fa-plus-square"></i> ثبت سند با
                                            فایل اکسل</button>
                                    </div>
                                </div>



                                <div class="row">

                                    <!-- وضعیت سند -->
                                    <div class="col-md-4 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text bg-light">وضعیت سند</span>
                                            <select id="statusId" name="statusId" class="form-control select-status">
                                                <option value="0" selected="selected">همه</option>
                                                <option value="1">پیش نویس</option>
                                                <option value="2">ثبت اولیه</option>
                                                <option value="3">در حال استعلام شناسه های رهگیری</option>
                                                <option value="6">تأیید شناسه های رهگیری</option>
                                                <option value="4">عدم تأیید شناسه های رهگیری</option>
                                                <option value="7">تایید شده</option>
                                                <option value="8">ابطال شده</option>
                                                <option value="17">تایید نهایی</option>
                                                <option value="19">در انتظار پرداخت</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- نوع سند -->
                                    <div class="col-md-4 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text bg-light">نوع سند</span>
                                            <select id="DocType" name="DocType" class="form-control select-status">
                                                <option value="">انتخاب کنید</option>
                                                <option value="4">اظهار موجودی اولیه</option>
                                                <option value="5">اظهار خرید / دریافت</option>
                                                <option value="6">اظهار واردات</option>
                                                <option value="7">انبارگردانی(افزایشی)</option>
                                                <option value="10">بدون موجودی اولیه</option>
                                                <option value="12">اظهار برگشت از فروش</option>
                                                <option value="2">واردات</option>
                                                <option value="14">پیش اظهار ورود کالا</option>
                                                <option value="17">ورود کالای تفکیک/تجمیع/بسته بندی</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- انبار -->
                                    <div class="col-md-4 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text bg-light">انبار</span>
                                            <select name="WhereHouse" id="WhereHouse"
                                                data-handler="InternalTradeHandler"
                                                data-function="UserWhereHouse_WithTempStore_Direct"
                                                class="form-control ajaxSelect">
                                                <option value="" selected="selected">انتخاب کنید</option>
                                                <option value="46578">انبار موقت</option>
                                                <option value="119883">فرآیند شیمی صدرا (5189151875)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- از تاریخ - تا تاریخ -->
                                    <div class="col-md-4 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text bg-light">از تاریخ - تا تاریخ</span>
                                            <input type="text" id="startDate" placeholder="از تاریخ" autocomplete="off"
                                                name="startDate"
                                                class="persianDatePicker1 form-control max-date1 pwt-datepicker-input-element"
                                                style="width: 50%">
                                            <input type="text" id="endDate" placeholder="تا تاریخ" autocomplete="off"
                                                name="endDate"
                                                class="persianDatePicker1 form-control max-date1 pwt-datepicker-input-element"
                                                style="width: 50%">
                                        </div>
                                    </div>
                                    <!-- متن جستجو -->
                                    <div class="col-md-4 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text bg-light">متن جستجو</span>
                                            <input name="searchTerm" id="searchTerm" type="text"
                                                class="form-control search-box"
                                                onkeydown="return (event.keyCode != 13);">
                                        </div>
                                    </div>
                                    <!-- دکمه‌های جستجو و لغو -->
                                    <div class="col-md-3 mb-3">
                                        <div class="input-group">
                                            <button type="button" id="btnSearchInitialInventory"
                                                name="btnSearchInitialInventory" class="btn btn-primary me-2"><i
                                                    class="fa fa-search"></i> جستجو</button>
                                            <button type="button" id="btnSearchInitialInventoryLeft"
                                                name="btnSearchInitialInventoryLeft" class="btn btn-warning"><i
                                                    class="fa fa-remove"></i> لغو فیلتر</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- جدول نتایج جستجو -->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>شماره سند</th>
                                            <th>تاریخ سند</th>
                                            <th>تاریخ ثبت</th>
                                            <th>انبار</th>
                                            <th>نوع سند </th>
                                            <th> وضعیت سند </th>
                                            <th> شرح سند </th>
                                            <th> عملیات </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011-04-25</td>
                                            <td>$320,800</td>
                                            <td>$320,800</td>
                                            <td>$320,800</td>
                                            <td>


                                                <a id="ViewPlaceInventory" name="ViewPlaceInventory"
                                                    class="btn btn-blue  margin-top-5 btn-xs margin-left-5">
                                                    <i class="fa fa-search margin-top-2"></i> جزئیات </a>
                                                <a name="updateAnbar"
                                                    class="btn btn-danger btn-xs search margin-left-5 margin-top-5">
                                                    <i class="fa fa-remove margin-top-2"></i> ابطال </a>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<style>
    .input-group-text.bg-light {
        width: 120px;
    }

    .btn-purple-csm {
        background-color: #6f42c1 !important;
        color: #fff;
    }

    .btn-purple-csm:hover {
        background-color: #5a32a3 !important;
    }

    .dropdown-menu {
        min-width: 100%;
    }

    .text-align-center {
        text-align: center !important;
    }

    .bg-themeprimary {
        background-color: #024158 !important;
        color: white;
    }

    .bg-themeprimary th {
        text-align: center !important;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .hidden {
        display: none;
    }

    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
        margin-right: initial !important;
    }

    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
        margin-left: initial !important;
    }
</style>



{% endblock main %}

{% block js %}
<!-- بارگذاری jQuery و DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
<!-- بارگذاری Persian Datepicker (در صورت نیاز) -->




<script>
    $(document).ready(function () {


        // اینیشیالایز DataTable
        $('#example').DataTable({
            paging: true,
            searching: true,
            info: true,
            ordering: false,
            pageLength: 10,
            language: {
                "sEmptyTable": "هیچ داده‌ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sLengthMenu": "نمایش _MENU_ رکورد",
                "sLoadingRecords": "در حال بارگذاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی مطابق جستجوی شما پیدا نشد",
                "oPaginate": {
                    "sFirst": "اولین",
                    "sLast": "آخرین",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                }
            },

        });

    });
</script>


{% endblock js %}