{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load ui_template_tag %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {% breadcrumbs 'عملیات ارزی' '#' 'تخصیص ارز' '#' 'درخواست تخصیص ارز' '#' %}
{% endblock breadcrumbs %}
{% block title %}
    پرونده ثبت سفارش
{% endblock title %}
{% block page-title %}
    درخواست تخصیص ارز
{% endblock page-title %}
{% block head %}
    <link href="{% static 'selectize-master/css/selectize.css' %}"
          rel="stylesheet">
    <link href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}"
          rel="stylesheet">
{% endblock head %}
{% block main %}
    <div class="container-fluid bg-white py-4">
        <form methode="get" action="{% url 'currency_allocation:create_request' %}"
              class="mb-3">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">{{ form.main_data.label }}</span>
                        {% render_field form.main_data class="form-control p-0" placeholder="جست جو کنید" %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="d-md-flex">
                        <div class="m-2">
                            <button type="submit" class="btn btn-primary btn-maya">
                                <i class="fa fa-plus-square"></i>
                                <span class="ps-1">ایجاد درخواست تخصیص ارز جدید</span>
                            </button>
                        </div>
                        <div class="m-2">
                            <a href="{% url 'currency_allocation:requests' %}"
                               class="btn btn-primary btn-maya">
                                <i class="fa fa-refresh"></i>
                                <span class="ps-1">بروزرسانی ثبت سفارش</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% input_box 'تاریخ درخواست از' '' False 'date' %}
                {% input_box 'تاریخ درخواست تا' '' False 'date' %}
                {% input_box 'تاریخ تخصیص از' '' False 'date' %}
                {% input_box 'تاریخ تخصیص تا' '' False 'date' %}
                {% input_box 'وضعیت درخواست' '' False 'date' %}
                {% input_box 'فرآیند فعلی' '' False 'date' %}
                <div class="col-12">
                    <div class="d-flex">
                        <div class="pe-2 pb-2">
                            <button type="button" class="btn btn-primary btn-maya">
                                <i class="fa fa-search"></i>
                                <span class="ps-1">جستجو</span>
                            </button>
                        </div>
                        <div class="pb-2">
                            <button type="button" class="btn btn-secondary btn-forest px-4">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="border shadow-sm">
            <div class="row py-3">
                <div class="col-12 col-sm-4 ps-5">
                    <button class="btn rounded-2px"
                            style="background-color: rgb(140, 68, 162);
                                   border: 1px solid rgb(140, 68, 162);
                                   cursor: pointer;
                                   color: white;
                                   width: fit-content;
                                   opacity: 1;
                                   margin: 0px 0px 0px 10px">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span class="ps-1">خروجی اکسل</span>
                    </button>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="d-flex">
                        <div class="pe-1">
                            <a href="#" class="btn btn-primary btn-maya" type="button">
                                <i class="fa fa-download"></i>
                                <span>فیلم آموزشی</span>
                            </a>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-primary btn-maya" type="button">
                                <i class="fa fa-file"></i>
                                <span>فایل راهنما</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered text-center">
                <thead class="text-white bg-navy">
                    <tr>
                        <th>ردیف</th>
                        <th>کد ثبت سفارش</th>
                        <th>ردیف درخواست</th>
                        <th>وضعیت</th>
                        <th>فرآیند فعلی</th>
                        <th>مبلغ درخواست</th>
                        <th>ارز درخواست</th>
                        <th>تاریخ ایجاد درخواست</th>
                        <th>محل تامین ارز</th>
                        <th>نرخ ارز</th>
                        <th>نوع درخواست</th>
                        <th>شعبه</th>
                        <th>تاریخ تخصیص</th>
                        <th>عملیات</th>
                        <th>تاریخچه</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.main_data.registrations_number }}</td>
                            <td>{{ r.row }}</td>
                            <td>{{ r.get_status_display }}</td>
                            <td>
                                {% if  r.parent_request %}
                                    تجزیه
                                {% else %}
                                    اتمام
                                {% endif %}
                            </td>
                            <td>{{ r.request_amount }}</td>
                            <td>{{ r.currency }}</td>
                            <td>{{ r.created_at|to_jalali }}</td>
                            <td>{{ r.supply_currency_place.title }}</td>
                            <td>{{ r.currency_rate.title }}</td>
                            <td>{{ r.request_type.title }}</td>
                            <td>
                                {% if r.main_data.financial.bank %}{{ r.main_data.financial.bank }}{% endif %}
                            </td>
                            <td>{{ r.created_at|to_jalali }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary btn-maya mx-auto"
                                   href="{% url 'currency_allocation:request_detail' r.pk %}">
                                    <i class="fa fa-search"></i>
                                    <span class="ms-1">جزئیات</span>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary btn-maya mx-auto" type="button">
                                    <i class="fa fa-edit"></i>
                                    <span class="ms-1">تاریخچه</span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}
{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'selectize-master/js/selectize.min.js' %}"> </script>
    <script>$('#id_main_data').selectize({})</script>
{% endblock js %}
