{% extends "users/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'persianDatepicker/css/persianDatepicker-default.css' %}">
{% endblock head %}
{% block main %}
<div class="container">
    <form method="post" enctype="multipart/form-data" novalidate class="needs-validation">

      {% if form.errors %}
        <div class="alert alert-danger">
          <ul class="mb-0">
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

        {% csrf_token %}
        <div>
          
          <!-- ستون اول -->
          <div class="col-md-12">
            <div class="mb-3">
              <label for="id_national_code" class="form-label">{{ form.national_code.label }}*</label>
              {% render_field form.national_code class="form-control" %}
            </div>

            <div class="mb-3">
              <label for="id_birthday" class="form-label">{{ form.birthday.label }}*</label>
              {% render_field form.birthday class="form-control" %}
            </div>
            <div class="mb-3">
              <label for="id_username" class="form-label">{{ form.username.label }}*</label>
              {% render_field form.username class="form-control" %}
            </div>
            <div class="mb-3">
              <label for="id_password1" class="form-label">{{ form.password1.label }}*</label>
              <div class="input-group">
                {% render_field form.password1 class="form-control" %}
                <!-- <button type="button" id="toggle-password1" class="btn btn-outline-secondary">
                  <i class="fa fa-eye"></i>
                </button> -->
              </div>
            </div>
            <div class="mb-3">
              <label for="id_password2" class="form-label">{{ form.password2.label }}*</label>
              <div class="input-group">
                {% render_field form.password2 class="form-control" %}
                <!-- <button type="button" id="toggle-password2" class="btn btn-outline-secondary">
                  <i class="fa fa-eye"></i>
                </button> -->
              </div>
            </div>
          </div>

          <!-- ستون دوم -->
          <div class="col-md-12">
            <div class="mb-3">
              <label for="id_mobile" class="form-label">{{ form.mobile.label }}*</label>
              {% render_field form.mobile class="form-control" placeholder="09121111111" %}
            </div>
            <div class="mb-3">
              <label for="id_phone" class="form-label">{{ form.phone.label }}*</label>
              {% render_field form.phone class="form-control" placeholder="02188888888" %}
            </div>
            <div class="mb-3">
              <label for="id_postal_code" class="form-label">{{ form.postal_code.label }}*</label>
              {% render_field form.postal_code class="form-control" %}
            </div>
            <div class="mb-3">
              <label for="id_email" class="form-label">{{ form.email.label }}</label>
              {% render_field form.email class="form-control" %}
            </div>
            <div class="form-check mb-3">
              {% render_field form.use_2fa class="form-check-input" %}
              <label class="form-check-label" for="{{ form.use_2fa.auto_id }}" style="margin-right: 22px;">{{ form.use_2fa.label }}</label>
            </div>
            <div class="mb-3 text-center">
              <img src="{% static 'images/avatar.png' %}" class="rounded-circle border mb-2" id="img-preview" width="120" height="120" alt="تصویر پرسنلی">
              <label class="btn btn-outline-primary w-100">
                انتخاب تصویر...
                {% render_field form.avatar class="d-none" id="choose-file" %}
              </label>
              <small class="text-muted d-block mt-1">اندازه تصویر باید کمتر از ۲۰۰KB باشد</small>
            </div>
          </div>
        </div>

        <!-- دکمه‌ها -->
        <div>
            <button type="submit" class="btn btn-primary">
            ذخیره اطلاعات و ادامه
          </button>
          <div><a style="height: 35px;border-radius: 8px;margin-top: 8px;" href="{% url 'users:login' %}" class="btn btn-outline-secondary">بازگشت</a></div>
          
        </div>
      </form>
</div>


{% endblock main %}
{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'persianDatepicker/js/persianDatepicker.min.js' %}"></script>
    <script>
	//show user avatar after select file
        const chooseFile = document.getElementById("choose-file");
        const imgPreview = document.getElementById("img-preview");
        chooseFile.addEventListener("change", function () {
            getImgData();
            console.log('ok');
          });
          function getImgData() {
            const files = chooseFile.files[0];
            if (files) {
                console.log('alert ok');
              const fileReader = new FileReader();
              fileReader.readAsDataURL(files);
              fileReader.addEventListener("load", function () {
                imgPreview.src = this.result
              });    
            }
          }


		const forms = document.querySelectorAll('.needs-validation')
		// validate form with bootstrap
		Array.from(forms).forEach(form => {
		form.addEventListener('submit', event => {
		if (!form.checkValidity()) {
		
			event.preventDefault()
			event.stopPropagation()
		}
		form.classList.add('was-validated')
		}, false)
	})


	/*آپدیت فیلد نام کاربری موقع تغییر کد ملی*/
	const nationalCode = document.getElementById('id_national_code');
	nationalCode.addEventListener('change',e=>{
	document.getElementById('id_username').value = e.target.value;
	})
	
	//create persian date picker
	  $("#id_birthday").persianDatepicker();
    </script>
{% endblock js %}
