{% extends "users/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    بازیابی رمز عبور
{% endblock title %}
{% block main %}
    <div class="bg-white rounded shadow">
        <p class="bg-primary text-white p-2 mb-0 rounded-top section-header">بازیابی رمز عبور</p>
        <form method="post">
            {% csrf_token %}
            <div class="d-grid gap-2 col-5 mx-auto py-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">{{ form.username.label }}</span>
                    {% render_field form.username class="form-control" %}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">{{ form.new_password.label }}</span>
                    {% render_field form.new_password class="form-control" %}
                    <button id="toggle-new-password"
                            type="button"
                            class="toggle-password rounded bg-white border"
                            aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                    </button>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">{{ form.confirm_password.label }}</span>
                    {% render_field form.confirm_password class="form-control" %}
                    <button id="toggle-password-repeate"
                            type="button"
                            class="toggle-password rounded bg-white border"
                            aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                    </button>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">{{ form.code.label }}</span>
                            {% render_field form.code class="form-control" %}
                        </div>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'users:send_reset_code' %}"
                           class="btn  btn-secondary btn-login w-100 p-2"
                           style="font-size:1rem !important">دریافت کد اعتبار سنجی</a>
                    </div>
                </div>
                <button type="submit"
                        class="btn  btn-primary"
                        style="background:#427fed !important;
                               border: color #424242 !important">تایید</button>
            </div>
        </form>
        <div class="text-center py-3">
            <a href="#" class="btn  btn-primary me-2 disabled"><i class="fa fa-info-circle"></i> راهنمای سریع</a>
            <a href="{% url 'users:login' %}" class="btn  btn-primary ms-2"><i class="fa fa-home"></i> بازگشت به صفحه‌ی اصلی</a>
        </div>
    </div>
{% endblock main %}
