{% extends "users/base.html" %}
{% load static %}
{% block title %}
  
{% endblock title %}
{% block main %}

<div>
    <a class="btn  btn-primary" style="margin-bottom: 10px;border-radius: 0;padding: 2px;font-size: 15px;"
        href="{% url 'users:verify_phone' user_uuid %}">صحت سنجی و ارسال کد اعتبار سنجی به شماره تلفن همراه</a>
    <!-- <button class="btn  btn-primary" type="button" disabled>
        اعتبار سنجی  شماره همراه جدید از طریق شماره گیری کد (USSD)
    </button> -->
</div>

    <!-- <div class="vh-100">
        <div class="bg-white rounded shadow">
            <p class="bg-primary text-white p-2 mb-0 rounded-top section-header ">انتخاب روش اعتبار سنجی</p>
            
        </div>
    </div> -->
{% endblock main %}
