{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load ui_template_tag %}

{% block title %}
اظهار تولید
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumbs 'عملیات تولید' '#' 'اظهار تولید' '#' %}
{% endblock breadcrumbs %}

{% block page-title %}
اظهار تولید
{% endblock page-title %}

{% block main %}



<link rel="stylesheet" href="{% static 'persianDatepicker/css/persianDatepicker-default.css' %}">
<link rel='stylesheet' href='https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css' media='all' />

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <form id="frmRequestSearch" class="fv-form fv-form-bootstrap" novalidate="novalidate">
        <div class="row ">
            <!-- دکمه‌های عملیاتی -->
            <div class="col-md-12 mb-3 box-bordered-bottom-dashed ">
                <a href="{% url 'production_operations:product_ezhar_tolid_kala' %}" class="btn btn-primary me-2" id="NewFactor"><i class="fa fa-plus-square"></i> ثبت اظهار جدید </a>
                <div class="dropdown d-inline-block me-2">
                    <button class="btn btn-success dropdown-toggle" type="button" id="ImpotrtFromExcemFile"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-plus-square"></i> ثبت سند با فایل اکسل
                    </button>
                    <ul class="dropdown-menu child" aria-labelledby="ImpotrtFromExcemFile">
                        <li><a class="dropdown-item" href="#" id="ImportExcelProduction"><i
                                    class="fa fa-file-excel"></i> اظهار تولید</a></li>
                        <li><a class="dropdown-item" href="#" id="ImportExcelTracking"><i class="fa fa-file-excel"></i>
                                تولید شناسه رهگیری</a></li>
                    </ul>
                </div>

                <button class="btn btn-purple">
                        <i class="fa fa-plus-square"></i> ثبت اسناد مشابه سال قبل
                    </button>

                    <button class="btn btn-warning">
                        <i class="fa fa-check-square"></i> بررسی و تایید سیستمی اسناد
                    </button>
                    
                    <button class="btn btn-primary">
                        <i class="fa fa-repeat"></i> محاسبه و ارسال مجدد سهمیه
                    </button>

            </div>
            <!-- وضعیت سند -->
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text bg-light">وضعیت سند</span>
                    <select name="status" data-handler="RegionHandler" data-function="GetAllRequestStatusList"
                        class="form-control select-status ajaxSelect">
                        <option value="0" selected="selected">همه</option>
                        <option value="8">پیش نویس</option>
                        <option value="7">ثبت اولیه</option>
                        <option value="4">تایید شده</option>
                        <option value="6">ابطال شده</option>
                        <option value="16">تایید نهایی</option>
                        <option value="17">تایید نیاز ماشین آلات</option>
                    </select>
                </div>
            </div>
            <!-- نوع سند -->
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text bg-light">نوع سند</span>
                    <select id="requestType" name="requestType" class="form-control select-status">
                        <option value="">همه</option>
                        <option value="23">برنامه تولید</option>
                        <option value="24">برنامه تولید (افزایش ظرفیت با توسعه ماشین آلات)</option>
                        <option value="53">برآورد صادرات</option>
                        <option value="55">نیاز ماشین آلات تولیدی</option>
                        <option value="56">نیاز اجزا و قطعات</option>
                        <option value="58">نیاز ماشین آلات معدنی و راهسازی</option>
                        <option value="59">نیاز سهمیه اتوبوس</option>
                            <option value="60">نیاز ماشین آلات کشاورزی و ساختمانی</option>
                    </select>
                </div>
            </div>
        

            
            <!-- از تاریخ - تا تاریخ -->
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text bg-light" style="width: 216px !important;">از تاریخ - تا تاریخ</span>
                    <input type="text" name="fromDate" placeholder="از تاریخ"
                        class="form-control persianDatePicker1"
                        style="width: 50%" autocomplete="off">
                    <input type="text" name="toDate" placeholder="تا تاریخ"
                        class="form-control persianDatePicker1"
                        style="width: 50%" autocomplete="off">
                </div>
            </div>


                <!-- سال -->
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text bg-light">سال</span>
                    <select name="WhereHouse" id="WhereHouse" data-handler="InternalTradeHandler"
                        data-function="GetRolePlacesByUserRoleIDForContractors_WithTempStore_Direct"
                        class="form-control ajaxSelect">
                        <option value="" selected="selected">انتخاب کنید</option>
                        <option value="1403">1403</option>
                        <option value="1404">1404</option>
                    </select>
                </div>
            </div>


                <!-- ماه -->
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text bg-light">ماه</span>
                    <select name="WhereHouse" id="WhereHouse" data-handler="InternalTradeHandler"
                        data-function="GetRolePlacesByUserRoleIDForContractors_WithTempStore_Direct"
                        class="form-control ajaxSelect">
                        <option value="" selected="selected">انتخاب کنید</option>
                        <option value="1">فروردین</option>
                        <option value="2">اردیبهشت</option>
                        <option value="3">خرداد</option>
                        <option value="4">تیر</option>
                        <option value="5">مرداد</option>
                        <option value="6">شهریور</option>
                        <option value="7">مهر</option>
                        <option value="8">آبان</option>
                        <option value="9">آذر</option>
                        <option value="10">دی</option>
                        <option value="11">بهمن</option>
                        <option value="12">اسفند</option>
                    </select>
                </div>
            </div>


            <!-- متن جستجو -->
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text bg-light">شماره سند</span>
                    <input type="text" name="searchTerm"  class="form-control">
                </div>
            </div>
            <!-- دکمه‌های جستجو و لغو -->
            <div class="col-md-4 mb-3">
                <button type="button" name="search" class="btn btn-primary me-2"><i class="fa fa-search"></i>
                    جستجو</button>
                <button style="height: 33px;" type="button" id="CancelSearch" name="CancelSearch" class="btn btn-warning me-2"><i
                        class="fa fa-remove"></i> لغو فیلتر</button>
            </div>
        </div>





        <!-- جدول نتایج جستجو -->
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="example" class="display">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>شماره سند</th>
                                <th>تاریخ تولید</th>
                                <th>تاریخ ثبت</th>
                                <th>انبار</th>
                                <th>نوع سند</th>
                                <th>وضعیت سند</th>
                                <th>شرح تولید</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                    </table>

                </div>
            </div>
        </div>






    </form>
</div>

<style>
    .btn-purple, .btn-purple:focus {
	background-color: #7e3794 !important;
	border-color: #7e3794;
	color: #fff;
}
    .input-group-text.bg-light {
        width: 120px;
    }

    .btn-purple-csm {
        background-color: #6f42c1 !important;
        color: #fff;
    }

    .btn-purple-csm:hover {
        background-color: #5a32a3 !important;
    }

    .bg-themeprimary {
        background-color: #024158 !important;
        color: white;
    }

    .card.border-primary {
        border-color: #024158 !important;
    }

    .hidden {
        display: none;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .me-2 {
        margin-left: 0.5rem !important;
    }

    .box-bordered-bottom-dashed {
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .tooltip-success .tooltip-inner {
        background-color: #28a745;
        color: white;
    }

    .hidden {
        display: none !important;
    }

    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
        margin-right: initial !important;
    }

    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
        margin-left: initial !important;
    }
</style>

{% endblock main %}

{% block js %}


<script>
    $(document).ready(function () {
        $('select').selectize()

        // فعال‌سازی Tooltip
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });

        // باز کردن خودکار منوی دراپ‌داون با کلیک
        $('#ImpotrtFromExcemFile').on('click', function () {
            var $dropdown = $(this).closest('.dropdown');
            var $menu = $dropdown.find('.dropdown-menu');
            if ($menu.hasClass('show')) {
                $menu.removeClass('show');
            } else {
                $('.dropdown-menu').removeClass('show');
                $menu.addClass('show');
            }
        });

        // بستن منوها هنگام کلیک خارج از آن‌ها
        $(document).on('click', function (e) {
            if (!$(e.target).closest('.dropdown').length) {
                $('.dropdown-menu').removeClass('show');
            }
        });

        // رویداد کلیک برای دکمه جستجو
        $('button[name="search"]').on('click', function () {
            alert('جستجو غیرفعال است. لطفاً منطق جستجو را پیاده‌سازی کنید.');
        });

        // رویداد کلیک برای لغو فیلتر
        $('#CancelSearch').on('click', function () {
            $('#frmRequestSearch')[0].reset();
            $('.persianDatePicker1').persianDatepicker('clear');
        });

        // رویداد کلیک برای استعلام از سامانه بهین یاب
        $('#Behinyab').on('click', function () {
            alert('استعلام از سامانه بهین یاب غیرفعال است. لطفاً منطق را پیاده‌سازی کنید.');
        });

        // رویداد کلیک برای تولید شناسه رهگیری
        $('#ReserveTrackings').on('click', function () {
            alert('تولید شناسه رهگیری غیرفعال است. لطفاً منطق را پیاده‌سازی کنید.');
        });

        // رویداد کلیک برای راهنمای سریع
        $('#HelpButton').on('click', function () {
            alert('راهنمای سریع غیرفعال است. لطفاً منطق startJSHelp را پیاده‌سازی کنید.');
        });

        // رویداد کلیک برای آیتم‌های منوی دراپ‌داون
        $('.dropdown-menu a[id^="Import"]').on('click', function (e) {
            e.preventDefault();
            $('#excelUploadModal').modal('show');
            $('#excelUploadModalLabel').text('آپلود فایل اکسل برای ' + $(this).text().trim());
        });

        // Modal برای آپلود اکسل
        if (!$('#excelUploadModal').length) {
            $('body').append(`
            <div class="modal fade" id="excelUploadModal" tabindex="-1" aria-labelledby="excelUploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="excelUploadModalLabel">آپلود فایل اکسل</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="excelFileInput" accept=".xlsx,.xls" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                            <button type="button" class="btn btn-primary" id="uploadExcelBtn">آپلود</button>
                        </div>
                    </div>
                </div>
            </div>
        `);
        }

        $('#uploadExcelBtn').on('click', function () {
            var fileInput = $('#excelFileInput')[0];
            if (fileInput.files.length > 0) {
                alert('آپلود فایل غیرفعال است. لطفاً منطق آپلود را پیاده‌سازی کنید.');
            } else {
                alert('لطفاً یک فایل انتخاب کنید');
            }
        });




        // اینیشیالایز DataTable
        $('#example').DataTable({
            paging: true,
            searching: true,
            info: true,
            ordering: false,
            pageLength: 10,
            language: {
                "sEmptyTable": "هیچ داده‌ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sLengthMenu": "نمایش _MENU_ رکورد",
                "sLoadingRecords": "در حال بارگذاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی مطابق جستجوی شما پیدا نشد",
                "oPaginate": {
                    "sFirst": "اولین",
                    "sLast": "آخرین",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                }
            },

        });

        
         $('.persianDatePicker1').each(function() {
            $(this).persianDatepicker({
                format: 'YYYY/MM/DD',
                autoClose: true,
                toolbox: {
                    calendarSwitch: {
                        enabled: false
                    }
                }
            });
        });


    });
</script>
{% endblock js %}